@import '../../../node_modules/include-media/dist/_include-media.scss';
@import '../../styles/variables';

$date-margin: 12;
$title-container-translation: $date-margin * -3;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 15px;

  width: 85%;
  min-height: 350px;

  overflow: hidden;

  background-image: url('../../assets/background-texture.jpg');
  background-repeat: repeat;
}

.img {
  max-height: 32vh;
}

.concert-info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  // margin-bottom: $title-container-translation * 1px;
}

.title-container {
  flex-grow: 2;
  max-width: calc(100% - #{70 + $date-margin * 2px});

  color: white;
  background-color: black;

  transform: translateY(#{$title-container-translation * 1px});

  .title {
    margin: 15px;
    text-transform: uppercase;
  }
}

.date-container {
  text-align: center;
  font-family: "Mission Gothic";

  margin: $date-margin * 1px;
  width: 70px;

  &>* {
    margin: 0;
  }

  .date-number {
    text-shadow: black 0 0 5px;
    line-height: 1;
    font-size: 2em;

    color: $accent-yellow;
  }

  .date-break {
    line-height: 0;
  }

  .dateMonth {
    margin-top: -10px;
    line-height: .2;
  }

  .dateTime {
    line-height: 0;
  }
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.button {
  @include button-defaults;

  width: calc(100% - #{$date-margin * 2px});
  margin: $date-margin * 1px;
}

@include media(">=tablet") {
  .button {
  }
}
