@import '../../styles/variables';

$date-margin: 12;
$title-container-translation: $date-margin * -3;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 15px;

  width: 85%;
  min-height: 350px;

  background-image: url('../../assets/background-texture.jpg');
  background-repeat: repeat;
}

.img {
  max-height: 32vh;
}

.concert-info-row {
  display: flex;
  flex-direction: row;

  margin-bottom: $title-container-translation * 1px;
}

.title-container {
  flex-grow: 2;
  padding: 15px;
  max-width: calc(100% - #{70 + $date-margin * 2px});

  color: white;
  background-color: black;

  transform: translateY(#{$title-container-translation * 1px});

  .title {
    margin-bottom: 10px;
  }

  .artists {
    margin-bottom: 0;
  }
}

.date {
  text-align: center;
  margin: $date-margin * 1px;
  min-width: 70px;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.button {
  @include button-defaults;

  width: calc(100% - #{$date-margin * 2px});
  margin: $date-margin * 1px;
}
