@import '../../styles/variables';

$header-height: 60;

.header {
  position: fixed;
  z-index: 2;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  height: $header-height * 1px;
  width: 100%;

  background-color: $accent-yellow;

  .page-title {
    // margin: 0 0 15px;
  }
}

.jump-to {
  width: fit-content;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0); // transparent
  border: none !important;
  border-bottom: 1px solid black !important;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;

  margin-top: $header-height * 1px;

  background-color: $background-gray;
}

.month-divider {
  margin: 30px;
}
