$primary-blue: #92C6C4;
$accent-yellow: #FFCA6A;
$accent-pink: #FBCCCF;
$neutral-gray: #D3D3D3;
$dark-gray: #5A5A5A;
$background-gray: #EEE;

$mobile-nav-height: 100;
$desktop-nav-width: 220;

$input-button-height: 40;

@mixin button-defaults {
  height: $input-button-height * 1px;
  border: none;
  font-weight: bolder;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;

  transition: box-shadow .5s;
  &:hover {
    box-shadow: 0 0 5px gray;
  }
}

@mixin background-texture($color) {
  background-image: url('/#{$color}-background.jpg');
  background-repeat: repeat;
}
