@import '../../../node_modules/include-media/dist/_include-media.scss';
@import '../../styles/variables';

$fixed-footer-height: $input-button-height + 30;

.img {
  width: 100%;
  height: calc(100vh - #{$mobile-nav-height + $fixed-footer-height * 2px});
}

.body {
  display: grid;
  grid-template-columns: [left] 110px [right] auto;
  grid-template-rows: [top] auto [bottom] auto;
  grid-template-areas:
    "top-left top-right"
    "bottom bottom";

  width: 100%;

  margin-bottom: $fixed-footer-height * 1px;
}

.location-info {
  margin: 15px;
}

.time-and-location {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.artists-container, .program-container {
  margin: 15px;
  text-align: right;

  * {
    margin: 0;
  }
}

.program-notes {
  width: 100%;
  text-align: center;
  grid-area: bottom;
}

.buy-button-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: $fixed-footer-height * 1px;
  width: 100%;

  padding: 15px;
  background-color: $dark-gray;
}

.concerts-link {
  display: flex;
  align-items: center;

  color: white;
  margin-right: 22px;
}

.concerts-link-text {
  margin: 0;
}

.buy-link {
  height: auto;
}

.buy-button {
  @include button-defaults;
  background-color: $accent-yellow;
  min-width: 150px;
}
