@import '../../../node_modules/include-media/dist/_include-media.scss';
@import '../../styles/variables';

$fixed-footer-height: $input-button-height + 30;

.img-container {
  width: 100%;
  height: calc(100vh - #{$mobile-nav-height + $fixed-footer-height * 2px});
}

.img {
  height: 100%;
}

.title-positioner {
  width: 100%;
  height: 0;
  position: relative;

  .title-container {
    position: absolute;
    right: 0;
    bottom: 100px;
    min-width: 60%;

    text-align: left;
    color: white;
    background-color: black;

    .title {
      margin: 15px;
      text-transform: uppercase;
    }
  }
}

.body-container {
  display: flex;
  justify-content: center;
}

.body {
  display: grid;
  grid-template-columns: [left] 110px [right] auto;
  grid-template-rows: [top] auto [middle] auto [bottom] auto;
  grid-template-areas:
    "top-left top-right"
    "middle middle"
    "bottom bottom";

  width: 80%;
  min-width: 300px;
  max-width: 500px;

  margin-top: 15px;
  margin-bottom: $fixed-footer-height * 1px + 15px;
}

.time-and-location {
  margin-bottom: 0;
}

.time-and-location, .address {
  margin-top: 15px;
  font-size: 0.8rem;
}

.artists-container, .program-container {
  text-align: right;

  * {
    margin: 0;
  }
}

.program-container {
  margin-top: 15px;
}

.program-notes {
  grid-area: middle;
}

.program-notes-title {
  text-align: center;
}

.program-notes-text {
  text-align: justify;
}

.sponsors-container {
  grid-area: bottom;
}

.sponsors-title {
  text-align: center;
}

.sponsors-logos-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 -20px;

  & > * {
    flex-grow: 1;
  }
}

.sponsor-logo {
  max-width: 100px;
  margin: 10px;
}

.buy-button-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: $fixed-footer-height * 1px;
  width: 100%;

  padding: 15px;

  @include background-texture('gold');
}

.concerts-link {
  display: flex;
  align-items: center;

  color: black;
  margin-right: 22px;
}

.concerts-link-text {
  margin: 0;
  color: black;
}

.buy-link {
  height: auto;
}

.desktop-buy-link {
  display: none;
}

.buy-button {
  @include button-defaults;
  background-color: black;
  color: white;
  min-width: 150px;
}

@include media(">=tablet") {
  .concerts-link {
    display: none;
  }
}

@include media(">=desktop") {
  .body {
    grid-template-columns: [left] auto [right] 33%;
    grid-template-rows: [top] auto [bottom] auto;
    grid-template-areas:
      "top-left    top-right"
      "bottom-left bottom-right";

    margin-top: 25px;
    max-width: 900px;
  }

  .concert-info {
    grid-area: top-left;

    display: flex;
  }

  .info-section-header {
    margin-bottom: 15px;
  }

  .artists-container {
    text-align: left;
    width: 50%;
  }

  .program-container {
    text-align: center;
    margin: 0;
    width: 50%;
  }

  .program-notes {
    grid-area: bottom-left;
  }

  .program-notes-title, .program-notes-text {
    text-align: left;
  }

  .location-col {
    grid-area: top-right;
    text-align: right;
  }

  .date-container {
    display: none;
  }

  .sponsors-container {
    grid-area: bottom-right;
    justify-self: flex-end;
  }

  .sponsor-logo {
    width: auto;
  }

  .desktop-buy-link {
    display: inherit;
  }

  .buy-button {
    @include background-texture('gold');
    color: black;
  }

  .buy-button-footer {
    display: none;
  }
}
