@import '../../node_modules/include-media/dist/_include-media.scss';
@import '../styles/variables';

.img {
  flex-grow: 2;
  height: 100%;
  min-width: 100%;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  position: absolute;
  right: 0;
  bottom: 20px;

  max-width: 90%;
  min-width: 80%;

  background-color: black;
  color: white;
}

.info {
  margin: 12px;
}

.title {
  font-size: 2.4em;
  margin: 0;
}

.date-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 4em;

  margin: 0;
  padding: 12px;

  @include background-texture('gold');
  color: black;
  font-size: 1.2em;
}

.date {
  margin: 0;
  filter: brightness(1);
}

.concert-link-icon {
  font-size: 2em;
  margin: -.2em -.5em -.2em -.2em;
}

@include media(">=tablet") {
  .title-container {
    min-width: 425px;
    bottom: 100px;
  }

  .info {
    margin: 12px 18px;
  }
}

@include media(">=desktop") {
  .title-container {
    min-width: 600px;
    bottom: 150px;
  }

  .title {
    font-size: 3.2em;
  }

  .subtitle {
    font-size: 1em;
    padding: 0 0 10px 0;
  }

  .date-info-container {
    min-width: 140px;
  }
}
