@import '../../node_modules/include-media/dist/_include-media.scss';
@import '../styles/variables';

.container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
  height: 40px;
  width: 100vw;
  background-image: url('../../static/background-texture.jpg');
  background-repeat: repeat;
}

.logo-container {
  height: 100%;
}

@include media("<=tablet") {
  .email-container {
    display: none;
  }
}
