@import '../../node_modules/include-media/dist/_include-media.scss';
@import '../styles/variables';

$element-padding: 8;
$border-height: $element-padding;
$fixed-elements-height: 55;
$nav-height: $border-height + $fixed-elements-height;

$nav-background-z-index: 2;

.container {
  height: 100vh;
  position: fixed;
  top: calc(#{$nav-height * 1px} - 100vh);
  left: 0;

  width: 100vw;
  background-image: url('../assets/background-texture.jpg');
  background-repeat: repeat;

  z-index: $nav-background-z-index;

  transition: top 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);

  &.expanded {
    top: 0;
  }
}

.fixed-elements {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: $fixed-elements-height * 1px;
  width: calc(100% - #{$element-padding * 2px});

  padding: 0 #{$element-padding * 1px};

  z-index: #{$nav-background-z-index + 1};
}

.logo-container {
  height: calc(100% - #{$element-padding * 2px});
}

.hamburger {
  font-size: 26px;
  display: flex;
  align-items: center;
  margin-right: 2px;
}

.border {
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 0;
  height: $border-height * 1px;
  background-image: url('../assets/border_pattern_horizontal.png');
  background-size: contain;
}

.background-image {
  margin-top: $nav-height * 1px;
  height: calc(100vh - #{$nav-height * 1px});
}

@include media("<=tablet") {
  .email-container {
    display: none;
  }
}
