@import '../../../node_modules/include-media/dist/_include-media.scss';
@import '../../styles/variables';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;

  width: 175px;
  margin: 0;
}

.input {
  width: 100%;
  height: $input-button-height * 1px;
  border: none;
  text-align: center;
  font-weight: bolder;
}

::placeholder {
  color: $neutral-gray;
}

.thank-you {
  margin: 0;
}

.submit {
  @include button-defaults;
  font-size: 20px;
  margin: 0;
  background: $accent-yellow;
  color: black;
}

@include media(">=tablet") {
  .container {
    width: 90%;
    padding: 10px 0 ;
  }
}
